.autocomplete__dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  max-height: 150px;
  overflow-y: auto;
  background: darkslategrey;
  color: lightgray;
  z-index: 10;

  margin: 0;
  padding: 0;
}

.autocomplete__item {
  padding: 8px;
  cursor: pointer;

  list-style-type: none;
}

.autocomplete__item:hover {
  background: black;
  color: white;
}
