.body {
  position: relative;

  width: inherit;
  color: theme(text-color);
  background-color: theme(bg-color);

  &::-webkit-scrollbar {
    width: 12px;
  }

  &::-webkit-scrollbar-track {
    background: theme(bg-color);
  }

  &::-webkit-scrollbar-thumb {
    background: theme(scrollbar-color);
    border-radius: 6px;
  }
}

.dark {
  color: theme(text-color, $dark);
  background-color: theme(bg-color, $dark);

  &::-webkit-scrollbar-track {
    background: theme(bg-color, $dark);
  }

  &::-webkit-scrollbar-thumb {
    background: theme(scrollbar-color, $dark);
  }
}

.container {
  min-height: 100vh;
  width: 95vw;
  min-width: 620px;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}
