.store {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  min-width: 630px;
  background-color: #1d1d1d;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
}

.store p {
  margin: 0;
}

.store button {
  background-color: #304fcc;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-left: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.store button:hover {
  background-color: #203a8c;
}
